@font-face {
  font-family: 'Cairo';
  src: url('/fonts/Cairo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.container {
  width: 100%;
  height: 394px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  background: black;
}

.insta,
.linked,
.ide {
  margin: 14px;
  width: auto;
  height: 54px;
  transition: 0.3s;
  background: transparent;
}

.insta:hover,
.linked:hover,
.ide:hover {
  scale: 120%;
  transition: 0.3s;
  background: transparent;
}

.logos {
  margin: 3%;
  height: auto;
  align-items: center;
  background: transparent;
}

.img_canto {
  display: flex;
  margin-left: auto;
  padding-right: 50px;
  height: 80px;
  width: 147px;
  background: transparent;
}

.img_canto img
{
  max-height: 70px;
  align-items: center;
  background: transparent;
}

.texto_footer {
  background-color: black;
  color: white;
  font-family: 'Cairo';
  text-decoration: none;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}
