@font-face {
    font-family: 'Milanello';
    src: url('/fonts/Milanello.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Centralizar e alinhar verticalmente a página */
.container {
    padding-top: 10vw;
    padding-bottom: 10vw;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: column; /* Alinha os elementos verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
}

/* Estilo do título */
.title {
    align-self: start;
    font-family: 'Milanello', sans-serif;
    font-size: 3rem;
    color: #fff;
    margin-bottom: 30px;
}

/* Formulário centralizado */
.container_form {
    align-self: start;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espaço entre o formulário e a imagem */
}

/* Estilo dos inputs */
.input {
    width: 50vw;
    height: 3vw;
    margin-left: 10vw;
    margin: 10px 0;
    margin-right: 5vw;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    background-color: #D45827;
    font-size: 1rem;
    font-family: 'Milanello', sans-serif;
    text-transform: uppercase;
}

.input::placeholder {
    opacity: 1 !important;
    color: white;
}

/* Estilo do botão enviar */
.submit {
    margin-left: 10vw;
    margin-right: 5vw;
    background: transparent;
    width: 35vw;
    padding: 15px;
    margin-top: 20px;
    border: 2px solid #D45827;
    color: #D45827;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    font-family: 'Milanello', sans-serif;
}

.submit:hover {
    background-color: #f05023;
    color: white;
}

/* Estilização da imagem */
.skullCatImg {
    width: 20vw; /* Tamanho da imagem do crânio */
    height: 20vw;
    margin-left: 1vw; /* Espaçamento entre formulário e imagem */
}

/* Responsividade */
@media (max-width: 768px) {
    .container_form {
        flex-direction: column; /* Empilhar formulário e imagem em telas menores */
        align-items: center;
    }

    .skullCatImg {
        align-self: center;
        margin-left: 15vw;
        margin-right: 20vw;
        margin-top: 20px;
    }

    .input{
        align-self: center;
        width: 70vw; /* Inputs e botão ocupam 100% da largura em telas menores */
    }

    .submit {
        align-self: center;
        width: 70vw; /* Inputs e botão ocupam 100% da largura em telas menores */
        margin-left: 2.5vw;
    }
}