@font-face {
    font-family: 'uni05';
    src: url('../../public/fonts/uni05_53.ttf');
    font-style: normal;
}

@font-face {
	font-family: 'Milanello';
	src: url('/fonts/Milanello.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

.container{
    display: flex;
    min-height: 100vh;
    padding: 50px 100px;
    justify-content: center;

}

.title{
    font-family: 'Millanelo', sans-serif;
    font-weight: lighter;
    font-size: 40px;
    color: white;
    margin: 5px;
}

.conteiner_form{
    display: flex;
    padding: 10px;
    justify-content: left;
    
}
.skullCatImg{
    background-color: black;
    color: black;
    height: 300px;
    width: 300px;
}

.questions{
    list-style: none;
    margin: 10px 0;
}

.input{
    font-family: 'Millanelo', sans-serif;
    height: 30px;
    font-size: 24px;
    color: white;
    background-color: #D45827;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 18px; 
    
}
    
.input::-webkit-input-placeholder{
    color: rgba(96, 59, 136, 0.8);
    font-family: 'Millanelo', sans-serif;
    font-weight: 400;
    font-size: 24px;
}


.submit{
    display: block;
    clear: left;
    background-color: black;
    color: #D45827;
    border: solid 2px #D45827;
    height: 60px;
    padding: 0px 8px; 
    font-size: 32px;
    font-family: 'Millanelo', sans-serif;
    font-weight: 400;
    margin-bottom: 10%;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.submit:hover{
    background-color: #D45827;
    color: white;
}

@media(max-width: 890px){

    .title
    {
        font-size: 30px;
    }

}

@media(max-width: 728px){

    .container
    {
        padding: 50px 5%;
    }

    .title
    {
        font-size: 25px;
        margin: 5% 10px;
    }

}