@font-face {
    font-family: 'Milanello';
    src: url('/fonts/Milanello.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.container {
  background-color: #000000;
  opacity: 90%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15vw;
  z-index: 1000; /* Certifique-se de que o menu esteja acima de outros elementos na página */
  box-sizing: border-box; /* Inclui padding e border no tamanho total do elemento */
}
  
.menuItem {
  color: white; /* Text color for menu items */
  font-size: 2vw; /* Adjust the font size as needed */
  font-weight: 400;
  font-family: 'Milanello', sans-serif;
  text-decoration: none;
}